@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        @apply h-full min-h-screen;
        margin: 0;
    }

    body {
        @apply bg-white text-gray-900 dark:bg-slate-900 dark:text-gray-100;
    }
}